@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
   max-width: 1600px;
   margin: o auto;
   font-family: "Signika Negative", sans-serif;
}

.wrapper{
   @apply w-full mx-auto py-10 px-4 md:py-5 md:px-40 lg:px-40 
}